<footer class="">
    <div class="footer-layer bg-Madison py-5 "><div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="text-white text-center">
                <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
            </div>
        
        </div>
        <div class="col-sm-4">
        <div class="text-white text-center">
        <h3>AROUND THE WEB</h3>
        <div class="social-media-icons d-flex justify-content-center gap-2">
            <div class="social-icon d-flex justify-content-center align-items-center border border-1 border-white rounded-circle w-38px h-38px">
                <i class="fa-brands fa-facebook mx-1 icon"></i>
            </div>
            <div class="social-icon d-flex justify-content-center align-items-center border border-1 border-white rounded-circle w-38px h-38px">
                <i class="fa-brands fa-twitter mx-1 icon"></i>
            </div>
            <div class="social-icon d-flex justify-content-center align-items-center border border-1 border-white rounded-circle w-38px h-38px">
                <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
            </div>
            <div class="social-icon d-flex justify-content-center align-items-center border border-1 border-white rounded-circle w-38px h-38px">
                <i class="fa-solid fa-globe mx-1 icon"></i>
            </div>
        </div>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="text-white text-center">
        <h3>ABOUT FREELANCER</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
        </div>
    </div>
    
</div></div>

<div class="bg-black-Pearl py-3 text-center text-white"><p class="m-0 p-0">Copyright © Your Website 2021</p></div>
</footer>
