.star-icon::before{
content: "";
background-color: white;
position: absolute;
width: 100px;
height: 4px;
top: 45%;
left: 38%;
}

.star-icon::after{
content: "";
background-color: white;
position: absolute;
width: 100px;
height: 4px;
top: 45%;
right: 38%;
}
