<div class="about-data bg-Light-Sea-Green container-fluid overflow-auto py-5">
<div class="d-flex justify-content-center align-items-center w-100 mt-10 mb-5 pt-5">
    <div class="w-75">
        <div class="text-center text-white ">
            <h2 class="fw-bold fs-1">ABOUT COMPONENT</h2>
            <div class="star-icon position-relative d-flex justify-content-center mt-1"><i class="fa-solid fa-star  text-center text-white"></i></div>
        </div>
        <div class="d-flex text-white pb-5 gap-3">
            <div><p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
            <div><p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
        </div>
    </div>

</div>
</div>