<nav class="navbar navbar-expand-lg bg-Madison fixed-top" data-bs-theme="dark" [ngClass]="{'nav-padding-0':scrollNavValue>0,'nav-padding-1':scrollNavValue==0}">
  <div class="container">
    <a class="navbar-brand fs-2 fw-bold" routerLink="">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" aria-current="page" routerLink="about" routerLinkActive="active-link rounded-2">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" routerLink="portofolio" routerLinkActive="active-link rounded-1">PORTFOLIO</a>
        </li>
         <li class="nav-item">
          <a class="nav-link fw-bold text-white" routerLink="contacts" routerLinkActive="active-link rounded-1">CONTACT</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
