.item .hover-layer{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s all;
}

.item:hover .hover-layer{
    opacity: 1;
}

.star-icon::before{
content: "";
background-color: var(--main-bg-color);
position: absolute;
width: 100px;
height: 4px;
top: 45%;
left: 40%;
}

.star-icon::after{
content: "";
background-color: var(--main-bg-color);
position: absolute;
width: 100px;
height: 4px;
top: 45%;
right: 40%;
}

.bg-layer{
    background-color: rgba(13,110,253, 0.25);
}

.w-35{
    width: 35%;
}