
<div class="home-data bg-Light-Sea-Green container-fluid overflow-auto mt-5">
<div class="d-flex flex-column align-items-center mt-10 mb-5">
    <div class="w-25"><img class="w-65 d-block m-auto" src="assets/imgs/avataaars.svg" alt=""></div>
    <div class="my-3">
        <h2 class="fw-bold text-white fs-1">START FRAMEWORK</h2>
        <div class="star-icon position-relative d-flex justify-content-center mt-1"><i class="fa-solid fa-star  text-center text-white"></i></div>
    </div>
    <div><p class="text-white">Graphic Artist - Web Designer - Illustrator</p></div>

</div>
</div>

